# source the parent .envrc if it exists
# this is useful for managing configuration across improvin` projects
source_up

# automatically install and use the correct version of nodejs and nvm
use_nvm() {
  watch_file .nvmrc

  # Check if nvm is installed
  if [[ ! -f $(brew --prefix nvm)/nvm.sh ]]
  then
    echo "nvm not installed. please run 'brew install nvm'"
    return 1
  else
    source $(brew --prefix nvm)/nvm.sh
    nvm use
  fi

  layout node
}

use_nvm
